* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

html,
body,
#root {
  height: 100%;
}

/* Layout wrapper */
.shell {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-layout {
  display: flex;
  flex: 1;
  min-height: 0;
  background-color: #F6F6F6;
}

.main {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.topbar {
  width: 60%;
  
}

.content {
  flex: 1;
  min-width: 0;       
  padding: 24px;
  overflow: auto;
  background-color: #F6F6F6;
}


/*  Responsive Layout  */

/* Mobile / Tablet */
@media (max-width: 900px) {
  .main-layout {
    flex-direction: column;  /* sidebar above main */
  }

  /* Hide sidebar entirely on small screens */
  .sidebar {
    display: none;
  }

  /* Main content full width */
  .main {
    width: 100%;
    overflow-y: auto;
  }

  /* Reduce padding on mobile */
  .content {
    padding: 20px;
  }
}
